<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel ="stylesheet" href="Tours.css">-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<h1>Tours</h1>
    <div id="tours_list">
        <p>{{ input }}</p>
        <input v-model="input">
        <div>
            <button v-on:click="add_tour">Add</button>
        </div>
            <ol>
                <todo-item
                    v-for= "item in tour_list"
                    v-bind:todo="item"
                    v-bind:key="item.id">
                </todo-item>
            </ol>
    </div>
    <script src = "Tours.js"></script>
</body>
</html>